* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
 width: 400px;
 height: 40px;
  gap: 10px;
  margin-top: 30px;
  justify-content: space-between;
  /* outline: auto; */
}

.field {
  display: inline-block;
  width: 90px;
  text-align: center;
  justify-content: center;
outline: auto;
font-size: 15px;
  background-color: #212121;
}

.value, .label {
color: white;

}